# RabbitMQ Configuration
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
QUEUE_NAME=media-compress-tasks
CONSUMER_COUNT=1

# SeaweedFS Configuration
SEAWEEDFS_URL=http://seaweedfs-filer:8888

# FFmpeg Configuration
MAX_WORKERS=4
FFMPEG_PATH=ffmpeg
TASK_TIMEOUT_SEC=300

# Logging
LOG_LEVEL=info

