api.kawaiimonkey.top {
    reverse_proxy webapi:3000
}

frontend.kawaiimonkey.top {
    reverse_proxy frontend:3000
}

grafana.kawaiimonkey.top {
    reverse_proxy grafana:3000
}

file-service.kawaiimonkey.top {
    reverse_proxy file-service:3000
}
