[Unit]
Description=CATaur API Management Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/cataur/deployment
Environment="PATH=/opt/cataur/deployment/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/opt/cataur/deployment/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
